@font-face {
    font-family: "Pixelify Sans";
    src: url("PixelifySans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.wy-nav-content {
    max-width: none;
}

.pixelify {
    font-family: "Pixelify Sans", sans-serif;
}